<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="CommunityMapper">
	
	<resultMap id="postSelectMap" 		type="post">
		
		<result property="postNo"		column="post_no"		jdbcType="NUMERIC" />
		<result property="postType" 	column="post_type"		jdbcType="CHAR" />
		<result property="postName"		column="post_name"		jdbcType="VARCHAR" />
		<result property="postContent"	column="post_content"	jdbcType="VARCHAR" />
		<result property="postImage"	column="post_image"		jdbcType="VARCHAR" />
		<result property="regDate" 		column="reg_date" 		jdbcType="DATE" />
		<result property="qnaRegType"	column="qna_reg_type"	jdbcType="CHAR" />
		<result property="qnaCode"		column="qna_code"		jdbcType="CHAR" />
		<result property="blindCode"	column="blind_code"		jdbcType="CHAR" />
		<result property="viewCount"	column="view_count"		jdbcType="NUMERIC" />
		<result property="commentCount" column="comment_count"  jdbcType="NUMERIC" />
		<result property="reportCount"  column="report_count"	jdbcType="NUMERIC" />
	
		<association property="user"  	javaType="user">
			<id 	property="userId" 	column="user_id" 	jdbcType="VARCHAR"/>
			<result property="userName" column="user_name" 	jdbcType="VARCHAR"/>
			<result property="nickname" column="nickname" 	jdbcType="VARCHAR"/>
			<result property="password" column="password" 	jdbcType="VARCHAR"/>
			<result property="role" 	column="role" 		jdbcType="VARCHAR"/>
			<result property="ssn" 		column="ssn" 		jdbcType="VARCHAR"/>
			<result property="phone" 	column="cell_phone" jdbcType="VARCHAR"/>
			<result property="addr" 	column="addr" 		jdbcType="VARCHAR"/>
			<result property="email" 	column="email" 		jdbcType="VARCHAR"/>
			<result property="regDate" 	column="reg_date" 	jdbcType="DATE"/>
		</association>
	</resultMap>


	<resultMap id="commentSelectMap" 		type="comment">
	
		<result property="commentNo"		column="comment_no"			jdbcType="NUMERIC"	/>
		<result property="commentContent"	column="comment_content"	jdbcType="VARCHAR"	/>
		<result property="commentImage"		column="comment_image"		jdbcType="VARCHAR"	/>
		<result property="regDate"			column="regDate"			jdbcType="DATE"		/>	
		<result property="parentCommentNo"	column="parent_comment_no"	jdbcType="NUMERIC"	/>
		
		<association property="post"		javaType="post"	>
			<id		property="postNo"		column="post_no"		jdbcType="NUMERIC" />
			<result property="postType" 	column="post_type"		jdbcType="CHAR" />
			<result property="postName"		column="post_name"		jdbcType="VARCHAR" />
			<result property="postContent"	column="post_content"	jdbcType="VARCHAR" />
			<result property="postImage"	column="post_image"		jdbcType="VARCHAR" />
			<result property="regDate" 		column="reg_date" 		jdbcType="DATE" />
			<result property="qnaRegType"	column="qna_reg_type"	jdbcType="CHAR" />
			<result property="qnaCode"		column="qna_code"		jdbcType="CHAR" />
			<result property="blindCode"	column="blind_code"		jdbcType="CHAR" />
			<result property="viewCount"	column="view_count"		jdbcType="NUMERIC" />
			<result property="commentCount" column="comment_count"  jdbcType="NUMERIC" />
			<result property="reportCount"  column="report_count"	jdbcType="NUMERIC" />
		</association>
		
		<association property="user"  	javaType="user">
			<id 	property="userId" 	column="user_id" 	jdbcType="VARCHAR"/>
			<result property="userName" column="user_name" 	jdbcType="VARCHAR"/>
			<result property="nickname" column="nickname" 	jdbcType="VARCHAR"/>
			<result property="password" column="password" 	jdbcType="VARCHAR"/>
			<result property="role" 	column="role" 		jdbcType="VARCHAR"/>
			<result property="ssn" 		column="ssn" 		jdbcType="VARCHAR"/>
			<result property="phone" 	column="cell_phone" jdbcType="VARCHAR"/>
			<result property="addr" 	column="addr" 		jdbcType="VARCHAR"/>
			<result property="email" 	column="email" 		jdbcType="VARCHAR"/>
			<result property="regDate" 	column="reg_date" 	jdbcType="DATE"/>
		</association>
		
		
	</resultMap>

	<select id="getComment" parameterType="int" resultMap="commentSelectMap" >
		SELECT *
		FROM COMMENT2 c, users u, post p
		WHERE c.user_id = u.user_id 
		AND c.post_no = p.post_no
		AND c.comment_no = #{commentNo}
	</select>
	
	<select id="getCommentList" parameterType="int" resultMap="commentSelectMap" >
		SELECT *
		FROM (
		    SELECT inner_table.*
		    FROM (
		        SELECT p.post_no, u.user_id, u.nickname, c.comment_no, c.comment_content, c.reg_date
		        FROM COMMENT2 c, users u, post p
		        WHERE c.user_id = u.user_id 
		        	  AND c.post_no = p.post_no
		        	  AND p.post_no = #{postNo}
		        ORDER BY c.comment_no
		    ) inner_table  
		)	
 	</select>
 	
 	
 	<select id="getCommentTotalCount" parameterType="int" resultType="int">
 		SELECT COUNT(*)
 		FROM (
 			SELECT p.post_no, u.user_id, u.nickname, c.comment_no, c.comment_content, c.reg_date
	        FROM COMMENT2 c, users u, post p
	        WHERE c.user_id = u.user_id 
	        	  AND c.post_no = p.post_no
	        	  AND p.post_no = #{postNo}
	        ORDER BY c.comment_no
 		) count_table
 	</select>
	
	
	
	
	
	
	
	
	
	
	

	<select id="getPost" parameterType="int" resultMap="postSelectMap" >
		SELECT *
		FROM post p, users u
		WHERE p.user_id = u.user_id AND p.post_no = #{postNo}
	</select>
	
	<select id="getPostList" parameterType="search" resultMap="postSelectMap" >
		SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  		FROM (	SELECT  p.post_no, p.post_type, u.user_id, p.post_name, p.post_content, p.post_image,
			   				p.reg_date, p.blind_code, p.view_count, p.comment_count, p.report_count, p.qna_reg_type, p.qna_code
					FROM post p, users u
					<where>
					p.user_id = u.user_id(+)
					
					<if test="searchCondition != null">	
					<if test="searchCondition==0">
						AND p.post_no like '%${searchKeyword}%'
					</if>
					<if test="searchCondition==1">
						AND p.post_name like '%${searchKeyword}%'
					</if>
					<if test="searchCondition==2">
						AND p.post_content '%${searchKeyword}%'
					</if>
				</if>
				</where>
				ORDER BY post_no desc) inner_table
			WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	</select>
	
	<select  id="getPostTotalCount"  parameterType="search"	 resultType="int">
	  SELECT COUNT(*)	
	  FROM(	SELECT p.post_no, p.post_type, u.user_id, p.post_name, p.post_content, p.post_image,
			   				p.reg_date, p.blind_code, p.view_count, p.comment_count, p.report_count, p.qna_reg_type, p.qna_code
					FROM post p, users u
				<where> p.user_id = u.user_id(+)
				<if test="searchCondition != null">
					<if test="searchCondition==0">
						AND p.post_no like '%${searchKeyword}%'
					</if>
					<if test="searchCondition==1">
						AND p.post_name like '%${searchKeyword}%'
					</if>
					<if test="searchCondition==2">
						AND p.post_content like '%${searchKeyword}%'
					</if>
				</if>) countTable	
				</where>				
	 </select>
	<insert id="addPost"  parameterType="post">
		INSERT INTO
		post(post_no, post_type, user_id, post_name, post_content, post_image, reg_date)
		VALUES(  
				seq_post_post_no.NEXTVAL,
				#{postType:CHAR}, 
				#{user.userId:VARCHAR},
				#{postName:VARCHAR}, 
				#{postContent: VARCHAR}, 
				#{postImage: VARCHAR},
				SYSDATE)
	</insert>

							
	<update id="updatePost" parameterType="post" >
		UPDATE post
		<set>
			post_name=#{postName:VARCHAR},
			post_content=#{postContent:VARCHAR},
			post_image=#{postImage:VARCHAR}
		</set> 
		WHERE post_no = #{postNo}
	</update>
	
	<delete id="deletePost" parameterType="int" >
		DELETE
		FROM post
		WHERE post_no = #{postNo}
	</delete>
	
	



</mapper>